@use 'mixins/colors'
@use 'mixins/media'

footer
  align-items: center
  background: colors.$light-grey-text-color
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  color: colors.$main-black-text-color
  display: flex
  flex-shrink: 0
  font-size: 0.8rem
  height: 46px
  justify-content: center
  margin-top: 2rem
  width: 100%

  @include media.for-desktop-up
    font-size: 1rem