/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.button {
  background: #676767;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  line-height: 1.6rem;
}
.button_selected {
  color: #252627;
  background: #f69a12;
}
.button:hover {
  color: #252627;
  cursor: pointer;
  background: #f36d27;
}

.header {
  color: #252627;
  background: #dedede;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    padding: 1rem;
  }
}
.header__left {
  align-items: center;
  display: flex;
}
.header__logo {
  margin-right: 12px;
  height: 36px;
  width: 82px;
}
@media only screen and (min-width: 1000px) {
  .header__logo {
    margin-right: 24px;
    height: 72px;
    width: 164px;
  }
}
.header__title {
  position: relative;
  top: -0.1rem;
}
@media only screen and (min-width: 1000px) {
  .header__title {
    top: -0.2rem;
  }
}
.header__name {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.05;
}
@media only screen and (min-width: 1000px) {
  .header__name {
    font-size: 2.8rem;
  }
}
.header__about {
  font-size: 1rem;
  line-height: 1;
}
.header__right {
  display: flex;
  margin-top: 0.2rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1000px) {
  .header__right {
    margin-top: 0;
  }
}
.header__menu-item {
  align-items: center;
  display: flex;
  margin-right: 0.6rem;
}
.header__menu-item:hover {
  cursor: pointer;
}
.header__menu-item:hover div {
  color: #f36d27;
}
.header__menu-item:hover path {
  fill: #f36d27;
}
.header__menu-icon {
  align-items: center;
  display: none;
  height: 30px;
  width: 30px;
}
@media only screen and (min-width: 1000px) {
  .header__menu-icon {
    display: flex;
  }
}
.header__menu-name {
  font-weight: bolder;
  margin-left: 0;
  width: 6rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
}
@media only screen and (min-width: 1000px) {
  .header__menu-name {
    margin-left: 0.6rem;
    text-align: left;
    line-height: 1.4;
  }
}

footer {
  flex-shrink: 0;
  color: #252627;
  background: #dedede;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
@media only screen and (min-width: 1000px) {
  footer {
    font-size: 1rem;
  }
}

.main-menu {
  color: #252627;
  background: #dedede;
  border-radius: 6px;
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  padding: 0.4rem 0;
}
@media only screen and (min-width: 1000px) {
  .main-menu {
    padding: 0.6rem 0;
  }
}
.main-menu__el {
  font-weight: bolder;
  margin: 0 0.8rem;
  text-transform: uppercase;
  line-height: 1.6;
}
@media only screen and (min-width: 1000px) {
  .main-menu__el {
    line-height: 1.4;
  }
}

.lang-switcher {
  margin-top: 0.2rem;
  text-align: right;
  width: 100%;
  font-size: 1rem;
}
@media only screen and (min-width: 1000px) {
  .lang-switcher {
    margin-top: 0.4rem;
  }
}
.lang-switcher__el {
  display: inline-block;
  margin-left: 1rem;
}

.table {
  width: 100%;
}
.table__header {
  border-bottom: 1px solid #f69a12;
  color: #f69a12;
  display: none;
}
@media only screen and (min-width: 1000px) {
  .table__header {
    display: flex;
  }
}
.table__cell {
  margin: 0.4rem 0;
  padding-right: 0;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .table__cell {
    margin: 0.6rem 0;
    padding-right: 1rem;
    width: 25%;
  }
}
.table__cell span {
  color: #979797;
}
.table__cell-subtitle {
  color: #f69a12;
}
.table__row {
  display: block;
  flex-wrap: wrap;
  padding: 0.2rem 0;
  width: 100%;
  border-bottom: 1px dashed #979797;
}
.table__row:last-child {
  border-bottom: none;
}
@media only screen and (min-width: 1000px) {
  .table__row {
    display: flex;
    padding: 0;
  }
}
.table:last-child {
  border-bottom: none;
}

html {
  font-size: 14px;
}
@media only screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.4;
  font-style: normal;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  color: #252627;
  text-decoration: none;
}
a.light {
  color: white;
}
a.light:hover {
  color: #979797;
}
a.dark {
  color: #252627;
}
a.dark:hover {
  color: #f36d27;
}

h1 {
  color: #f69a12;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1rem;
}

h2 {
  color: #f69a12;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 1.5rem;
}

.layout {
  color: #dedede;
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/img/hex-pattern.png"), url("/img/back-tim.png");
  background-repeat: no-repeat, repeat;
  background-position: center top, left top;
  background-color: #141a1e;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1164px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .content-wrapper {
    padding: 0 32px;
  }
}

section.content {
  flex: 1 0 auto;
  width: 100%;
}

.years-selector {
  margin: 1.6rem 0 1rem 0;
}
.years-selector__button {
  margin: 0 0.3rem 0.3rem 0;
}

/*# sourceMappingURL=main.css.map */
