@page
@model Timweb.Website.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Brands</h1>
    @foreach (var brand in Model.Brands)
    {
        <div>
            <span>Id: @brand.Id, </span>
            <span>Name: @brand.NameEn</span>
        </div>
    }
</div>